@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.footer {
  background-color: #e6e6e6;
  display: inline-block;
  margin: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.btn,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 10px;
  font-size: 18px;
}
.btn:hover {
  background-color: #3e8e41;
}

.list {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.card {
  width: 400px;
  padding: 20px;
  margin: 20px;
  background: #cfb2d6;
  border-radius: 4px;
}

.logo,
img {
  width: 200px;
}

.AddCatalog {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.AddCatalog label {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.AddCatalog input {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
}

.AddCatalog input[type="number"] {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
  text-align: center;
}

.AddCatalog button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
}

.add-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: right;
  padding: 0 50px 0 0;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.EditItem {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditItem label {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.EditItem input {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
}

.EditItem input[type="number"] {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
  text-align: center;
}

.EditItem button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
}

.container {
  margin: 0;
  padding: 0;
}

.first-row {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/posters-in-cozy-apartment-interior-royalty-free-image-943910360-1534189931.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display:block;
}

.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage {
  background-color: rgb(255, 207, 86);
}

.SignupPage,
.LoginPage {
  background-color: #fbcb62;
}

.LoginPage {
  background-color: #f8cd3f;
}

.EditProjectPage form,
.AddTask form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}

.btn {
  text-decoration: underline 1px;
  transition: 1s ease;
}
