@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
.btn,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 10px;
  font-size: 18px;
}

.list {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.card {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #cfb2d6;
  border-radius: 4px;
}

.logo,
img {
  width: 200px;
}

.AddCatalog {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.AddCatalog label {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.AddCatalog input {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
}

.AddCatalog input[type="number"] {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
  text-align: center;
}

.AddCatalog button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
}

.add-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: right;
  padding: 0 50px 0 0;
}
.add-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: right;
  padding: 0 50px 0 0;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.EditItem {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditItem label {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.EditItem input {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
}

.EditItem input[type="number"] {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
  text-align: center;
}

.EditItem button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
}

.container {
  margin: 0;
  padding: 0;
}

.first-row {
  background-image: url("https://www.bhf.org.uk/-/media/images/shop/buyfurniture/furniturepage1200x630.png?rev=0c1a27e3612840d882d8c1664ee692fa");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  align-items: center;
  justify-content: left;
}
