.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  color: black;
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin-right: 1rem;
}


.nav-logo {
  width: 25px;
  margin-left: 10px;
}

.cart-logo {
  width: 20px;
  filter: opacity(90%);
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-text {
  padding-top: 15px;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: black;
  text-decoration: underline 1px;
  text-underline-offset: 8px;
  transition: text-underline-offset 1s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn {
  text-decoration: underline 1px;
  text-underline-offset: 8px ;
  color: black;
  transition: .5s text-decoration ease;
}
.nav-name-juna {
  padding-top: 9px;
  color:black;
}

